[user]
	name = DNLHC
	email = gnz.danila@gmail.com
[core]
	editor = nvim
	pager = less --tabs 2 -RFX
	whitespace = ignore-all
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red
	newHighlight = green
	newNormal = green
	oldHighlight = red
[color "diff"]
	frag = magenta bold
	commit = yellow bold
	old = red
	new = green
	whitespace = red reverse
[column]
	ui = auto
[branch]
	sort = -committerdate
[format]
	pretty = oneline
[log]
	abbrevCommit = true
[pull]
	rebase = true
[push]
	default = current
